body {
  font-family: "DM Sans", sans-serif;
}

.header {
  display: flex;

  align-items: center;
  justify-content: space-around;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-logo {
  margin: 2rem;
}
.tag-container {
  text-align: center;
}

.tag {
  background: transparent;
  border-radius: 1rem;
  border: 0.5px solid #c4c4c4;
  padding: 0.3rem;
  margin: 0 0.005rem;
  color: #911c1c;
  font-size: 0.6rem;
}
.main-title {
  font-size: 2.1rem;
  font-weight: normal;
  display: flex;
  margin: 0 1rem;
  color: #901c1c;
  white-space: nowrap;
}

/* photograph section */

.photograph-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}
.photograph {
  width: 19rem;
  height: 21rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2rem;
}

.photograph-link {
  width: 100%;
  height: 80%;
  overflow: hidden;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: #d3573c;
}

.photograph-img,
.photograph-img-2 {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.photograph-name {
  margin: 0;
  font-weight: lighter;
  font-size: 2rem;
  color: #d3573c;
}

.information-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 20%;
}

.city,
.price,
.tagline,
.city-2,
.tagline-2 {
  margin: 0;
  font-weight: lighter;
}

.city {
  font-size: 1rem;
  color: #901c1c;
}

.tagline {
  font-size: 0.7rem;
}

.price {
  font-size: 0.6rem;
  color: #757575;
}

@media screen and (max-width: 860px) {
  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .container-logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0;
    text-align: center;
    margin: 1rem;
  }

  .tag-container {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    margin: 1rem;
  }
  .main-title {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    /* font-size: 1rem; */
    margin: 0;
    text-align: center;
    display: block;
    margin: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .main-title {
    font-size: 1rem;
  }
  .logo {
    height: 2rem;
    width: auto;
  }
}

/* page photograph */
.header-2 {
  margin: 1rem 2rem;
  display: flex;
  align-items: center;
}

.main-2 {
  margin: 0 2rem;
}

.section-photograph-info {
  background: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

.information-container-2 {
  display: flex;
}

.information-photograph {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.photograph-name-2 {
  margin: 0;

  font-weight: lighter;
  font-size: 4rem;
  color: #d3573c;
}

.city-2 {
  font-size: 1.5rem;
  color: #901c1c;
  margin: 1rem 0;
}

.tagline-2 {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.btn-contact {
  margin: 1rem;
  color: #ffffff;
  font-size: 1.2rem;
  background: #901c1c;
  border-radius: 0.3rem;
  border: 0;
  padding: 1rem 0.5rem;
}

.btn-contact:hover {
  cursor: pointer;
  color: black;
  background: #db8876;
}

/* drop down menu */
.container-label {
  margin: 2rem 0;
}

#label-criteria {
  font-size: 1.3rem;
  font-weight: bolder;
}

#criteria {
  color: #ffffff;
  font-size: 1.2rem;
  background: #901c1c;
  border-radius: 0.3rem;
  border: 0;
  padding: 1rem 0.5rem;
}

/* section photo */

.section-photo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.img-container {
  height: 22rem;
  width: 22rem;
  margin: 1rem 0;

  overflow: hidden;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.img-link {
  min-width: 100%;
  height: 90%;
}

.image {
  overflow: hidden;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.3rem;
}

.img-description-container {
  display: flex;
  height: 10%;
  align-items: center;
  justify-content: space-between;
  color: #901c1c;
}

.img-title {
  margin: 0;
}
.number-likes {
  font-weight: bold;
}

.container-like-info {
  background: #db8876;
  width: 15rem;
  display: flex;
  padding: 1.3rem;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  right: 2rem;
}

@media screen and (max-width: 870px) {
  .container-like-info {
    display: none;
  }
  .btn-container {
    position: fixed;
    bottom: 0;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
  }
  .btn-contact {
    color: #ffffff;
    font-size: 1.2rem;
    background: #901c1c;
    border-radius: 0.3rem;
    border: 0;
    padding: 0.5rem 0.5rem;
  }
}

@media screen and (max-width: 800px) {
  .section-photograph-info {
    padding: 0;
    background: transparent;
  }
  .img-container {
    width: 100%;
    height: 14rem;
  }
  .container-label {
    display: none;
  }
  .photograph-img-2 {
    width: 7rem;
    height: 7rem;
  }
  .photograph-name-2 {
    font-size: 2.1rem;
  }
  .city-2 {
    font-size: 0.7rem;
    margin: 0.3rem;
  }
  .tagline-2 {
    font-size: 0.7rem;
    margin: 0.3rem;
  }
}

/* lightbox */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: none;
  z-index: 100;
}

.modal-content {
  overflow: hidden;
  width: 100%;
  height: 100%;

  /* width: 80%;
  height: 50vh; */
}

.main-img {
  width: 80%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;

  object-fit: cover;
}

.prev-btn {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
  z-index: 5;
  color: #901c1c;
  border: none;
  background: white;
  font-size: 2rem;
}
.next-btn {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translate(-50%, -50%);
  z-index: 5;
  color: #901c1c;
  border: none;
  background: white;
  font-size: 2rem;
}

.image-name {
  position: absolute;
  bottom: 7%;
  left: 10%;
  color: #901c1c;
  border: none;
  background: white;
  font-size: 1.5rem;
  font-weight: normal;
}

.close-btn {
  position: absolute;
  top: 15%;
  right: 4%;
  color: #901c1c;
  border: none;
  background: white;
  font-size: 2rem;
}

/* modal form */

.bg-form {
  background: rgba(196, 196, 196, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
}

.container-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #db8876;
  padding: 2rem;
  border-radius: 0.3rem;
  width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
}

.title-form {
  font-weight: 4rem;
  margin: 0;
  width: 75%;
  font-weight: normal;
}

.close-btn-modal {
  position: absolute;
  top: 2.1rem;
  right: 1.8rem;
  color: white;
  background: none;
  border: none;
  font-size: 2rem;
  z-index: 100;
}

.btn-form {
  width: 10rem;
  height: 4.3rem;
  font-size: 1.1rem;
  color: white;
  background: #901c1c;
  border: none;
  border-radius: 0.3rem;
  margin-top: 2rem;
}

.input {
  border: none;
  border-radius: 0.2rem;
  height: 4rem;
  font-size: 1.5rem;
}

.label-form {
  font-size: 1.6rem;
  font-weight: normal;
  color: #312e2e;
}
#form-message {
  border: none;
  border-radius: 0.2rem;
  font-size: 1rem;
}

@media screen and (max-width: 500px) {
  .main-img {
    width: 60%;
    height: 15rem;
  }
  .close-btn {
    font-size: 1rem;
    right: 10%;
    top: 35%;
  }
  .prev-btn {
    font-size: 1rem;
    left: 10%;
  }
  .next-btn {
    font-size: 1rem;
    right: 7%;
  }
  .container-form {
    width: 80%;
  }
  .title-form {
    font-size: 1.8rem;
  }
  .label-form {
    font-size: 1.3rem;
  }
  .btn-form {
    width: 10rem;
    height: 1.6rem;
    font-size: 1.1rem;
    color: white;
    background: #901c1c;
    border: none;
    border-radius: 0.3rem;
    margin-top: 1rem;
    align-self: center;
  }
}

.open {
  display: block;
}

.error-msg {
  color: #901c1c;
  display: none;
}
